<div class="container">
    <mat-card class="card">
        <mat-card-title>Novo livro</mat-card-title>
        <form autocomplete="off" novalidate class="form" [formGroup]="cadastrarForm" novalidate>
            <app-input-text titulo="Título *" controlName="titulo" [formGroup]="cadastrarForm"></app-input-text>
            
            <app-input-text titulo="Autor *" controlName="autor" [formGroup]="cadastrarForm"></app-input-text>
            
            <app-input-number titulo="Páginas *" controlName="paginas" [formGroup]="cadastrarForm"></app-input-number>
            
            <app-input-textarea titulo="Descrição *" controlName="descricao" [formGroup]="cadastrarForm"></app-input-textarea>
            
            <button mat-raised-button type="submit" class="btn btn-info button" (click)="submit()">Salvar</button>
            <button mat-raised-button class="btn btn-info button" routerLink="/adm">Cancelar</button>
        </form>
    </mat-card>
</div>

